@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
}

.text__title {
  font-weight: 600;
  font-size: 1.125rem;
}
.text__detail {
  font-size: 0.875rem;
}

.grid__title {
  font-weight: 600;
  font-size: 0.875rem;
}
.grid__item__role {
  font-size: 0.625rem;
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .text__title, .text__detail {
    font-size: 1.125rem;
  }

  .grid__title {
    font-size: 1.125rem;
  }
  .grid__item__role {
    font-size: 0.75rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 0.75rem;
  position: relative;
}

.logo {
  padding: 4.4375rem 0 2.375rem 0;
}

.text__title {
  padding-bottom: 0.625rem;
}
.text__detail {
  height: 5.4375rem;
  padding-bottom: 2.375rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10.74625rem;
}
.grid__item {
  position: relative;
  height: 18.855625rem;
  max-width: 11.08875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.625rem;
  overflow: visible;
}
.grid__item--img {
  height: 13.0625rem;
  max-width: 8.67rem;
  position: absolute;
}
.grid__item__role {
  position: absolute;
  transform: rotate(90deg);
  white-space: nowrap;
  left: 7.7925rem;
}
.grid__title {
  position: absolute;
  top: 16.10625rem;
}

.even {
  top: 5.41875rem;
}
.even__title {
  top: 18.54375rem;
}
.even__role {
  top: 7.54375rem;
  left: 7.2675rem;
}

#num1 {
  top: 22.8125rem;
}

#num3 {
  top: 4.3125rem;
}

#num5 {
  top: 4.6875rem;
}

@media screen and (min-width: 1110px) {
  body {
    padding: 6.875rem 15rem 9.75rem;
  }

  .logo {
    max-width: 17.375rem;
    height: 2.9375rem;
    white-space: nowrap;
  }

  .text__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 13.4375rem;
         column-gap: 13.4375rem;
  }
  .text__detail {
    max-width: 27.4375rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 15.25rem;
    -moz-column-gap: 4.1275rem;
         column-gap: 4.1275rem;
    row-gap: 1.480625rem;
  }
  .grid__item {
    max-width: 20.984375rem;
    height: 28.0625rem;
    gap: 0.9375rem;
  }
  .grid__item--img {
    height: 21.3125rem;
    max-width: 14.8125rem;
  }
  .grid__title {
    top: 25.35625rem;
  }

  .even__titleDt {
    top: 31.35625rem;
  }
  .even__imgDt {
    top: 9.48125rem;
  }

  .odd__title {
    top: 27.23125rem;
  }

  #num1 {
    left: 27.625rem;
    top: 20.8125rem;
  }

  #num2 {
    left: 12.9175rem;
    top: 11.6875rem;
  }

  #num3 {
    left: 13.75rem;
    top: 5rem;
  }

  #num4 {
    left: 13.4375rem;
    top: 7.375rem;
  }

  #num5 {
    left: 13.625rem;
    top: 11.125rem;
  }

  #num6 {
    left: 13.75rem;
    top: 7.0625rem;
  }
}/*# sourceMappingURL=main.css.map */